<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M95NRRR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include header.html %}
      {{ content }}
    {% include footer.html %}
    <script src="/js/build/global-nav.js"></script>
    <script src="/js/build/cookie-policy.js"></script>
    <script>
      cpNs.cookiePolicy();
      canonicalGlobalNav.createNav({maxWidth:"72rem"});
    </script>
  </body>
</html>
