<header id="navigation" class="p-navigation">
  <div class="p-navigation__banner">
    <div class="p-navigation__logo">
      <a class="p-navigation__link" href="/">
        Netplan
      </a>
    </div>
    <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
    <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
  </div>
  <nav class="p-navigation__nav">
    <span class="u-off-screen">
      <a href="#main-content">Jump to main content</a>
    </span>
    <ul class="p-navigation__links">
      <li class="p-navigation__link{% if page.url == '/documentation.html' %} is-selected{% endif %}"><a href="/documentation">Documentation</a></li>
      <li class="p-navigation__link{% if page.url == '/design.html' %} is-selected{% endif %}"><a href="/design">Design</a></li>
      <li class="p-navigation__link{% if page.url == '/faq.html' %} is-selected{% endif %}"><a href="/faq">FAQ</a></li>
    </ul>
  </nav>
</header>
