<!DOCTYPE html>
<html lang="en" dir="ltr">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/16c27f81-COF%20favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/be7e4cc6-COF-favicon-32x32.png" sizes="32x32" />
  <title>{% if title %}{{ title }}{% else %}Canonical Netplan{% endif %}</title>

  <meta name="description" content="{% block meta_description %}Netplan is a YAML network configuration abstraction for various backends. It allows for easily configuring networks by writing a YAML description of the configuration and translates it to the format for the chosen backend, avoiding you the need to learn multiple config syntaxes.{% endblock %}">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ versioned_static('css/main.css') }}">

  <meta name="copydoc" content="{% block meta_copydoc %}{% endblock %}">

  {% if self.title() %}
  <meta name="twitter:title" content="{{ self.title() }} | Canonical Netplan">
  <meta property="og:title" content="{{ self.title() }} | Canonical Netplan">
  {% endif %}

  {% if self.meta_description() %}
  <meta name="twitter:description" content="{{ self.meta_description() }}">
  <meta property="og:description" content="{{ self.meta_description() }}">
  {% endif %}

  {% block head_extra %}{% endblock %}
  <script src="{{ versioned_static('js/build/global-nav.js') }}"></script>
  <script src="{{ versioned_static('js/build/cookie-policy.js') }}"></script>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M95NRRR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include "header.html" %}
    {% block content %}
      {{ content | safe }}
    {% endblock content %}
    {% include "footer.html" %}
    <script>
      if (typeof cpNs !== "undefined") {
        cpNs.cookiePolicy();
      }
      if (typeof canonicalGlobalNav !== "undefined") {
        canonicalGlobalNav.createNav({breakpoint: 940});
      }
    </script>
  </body>
</html>
