<aside class="p-table-of-contents">
	<div class="p-table-of-contents__section">
		<h3 class="p-table-of-contents__header">Table of contents</h3>
		<nav class="p-table-of-contents__nav">
			<ul class="p-list">
				<li><a class="p-table-of-contents__link" href="#introduction">Introduction</a></li>
				<li><a class="p-table-of-contents__link" href="#general-structure">General structure</a></li>
				<li><a class="p-table-of-contents__link" href="#device-configuration-ids">Device configuration IDs</a></li>
				<li><a class="p-table-of-contents__link" href="#common-properties-for-physical-device-types">Common properties for physical device types</a></li>
				<li><a class="p-table-of-contents__link" href="#common-properties-for-all-device-types">Common properties for all device types</a></li>
				<li><a class="p-table-of-contents__link" href="#dhcp-overrides">DHCP Overrides</a></li>
				<li><a class="p-table-of-contents__link" href="#routing">Routing</a>
					<ul>
						<li><a class="p-table-of-contents__link" href="#default-routes">Default routes</a></li>
					</ul>
				</li>
				<li><a class="p-table-of-contents__link" href="#authentication">Authentication</a></li>
				<li><a class="p-table-of-contents__link" href="#properties-for-device-type-ethernets%3A">Properties for device type ethernets:</a></li>
				<li><a class="p-table-of-contents__link" href="#properties-for-device-type-modems%3A">Properties for device type modems:</a></li>
				<li><a class="p-table-of-contents__link" href="#properties-for-device-type-wifis%3A">Properties for device type wifis:</a></li>
				<li><a class="p-table-of-contents__link" href="#properties-for-device-type-bridges%3A">Properties for device type bridges:</a></li>
				<li><a class="p-table-of-contents__link" href="#properties-for-device-type-bonds%3A">Properties for device type bonds:</a></li>
				<li><a class="p-table-of-contents__link" href="#properties-for-device-type-tunnels%3A">Properties for device type tunnels:</a></li>
				<li><a class="p-table-of-contents__link" href="#properties-for-device-type-vlans%3A">Properties for device type vlans:</a></li>
				<li><a class="p-table-of-contents__link" href="#properties-for-device-type-nm-devices%3A">Properties for device type nm-devices:</a></li>
				<li><a class="p-table-of-contents__link" href="#backend-specific-configuration-parameters">Backend-specific configuration parameters</a></li>
			</ul>
		</nav>
	</div>
</aside>
